Package: com.Ic0nic0de.icons
Name: Ic0nic0de Repo Icon Pack
Architecture: iphoneos-arm
Section: Ic0-RepoIcons
Author:  Ic0nic0de  <Ic0nic0de@gmail.com>
Depiction: http://Ic0nic0de.github.io/depictions/com.Ic0nic0de.icons/index.html
Description: Adds Sections icons for repository.
Maintainer:  Ic0nic0de  <Ic0nic0de@gmail.com>
Essential:
Priority:
Version: 2.1
