Package: com.Ic0nic0de.Ic0Spring
Name: Ic0Spring
Architecture: iphoneos-arm
Section: aTweaks
Depends: firmware (>= 11.0), mobilesubstrate, com.wizages.bae
Author:  Ic0nic0de  <Ic0nic0de@gmail.com>
Depiction: http://Ic0nic0de.github.io/depictions/com.Ic0nic0de.Ic0Spring/index.html
Description: Ic0nic0de customer respring logo.
Maintainer:  Ic0nic0de  <Ic0nic0de@gmail.com>
Essential:
Priority:
Version: 1.0-5
