Package: com.Ic0nic0de.icons
Name: IconPack
Architecture: iphoneos-arm
Section: Tweaks
Author:  Ic0nic0de  <Ic0nic0de@gmail.com>
Depiction: http://Ic0nic0de.github.io/depictions/?p=com.Ic0nic0de.icons/index.html
Description: Adds Icon Images
Maintainer:  Ic0nic0de  <Ic0nic0de@gmail.com>
Essential:
Priority:
Version: 1.0
